* {
  margin: 0;
  padding: 0;
}



li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
